/app/uploadDate.txt
/app/Version.txt
/app/Config/database.php
/app/Config/email.php
*.log
app/webroot/img/photos/*.*
/app/webroot/img/photos/preview/*.*
/app/webroot/img/photos/normal/*.*
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
upload.*
*~
.DS_Store
/tags
