@CHARSET "UTF-8";
body{
  height:100%;
  margin:0;
  padding:0;
  background: #fdda9e;
  color : white;
}

a{
  color : yellow;
  text-decoration:none;
}


a:hover{
	color:yellow;
}

a:visited{
  color : orange;
}



.container{
  background-color:#5D3019;
  background-image:url("../img/designV2/wood.jpg");
/*   background-repeat:repeat-y; */
}

.rope{
  background-image:url("../img/designV2/rope_title.png");
  background-repeat:repeat-x;
  margin:5%;
  width:90%;
  height:20px;
}
.rope::before {
    content: '';
    float:left;
    width:8px;
    height:15px;
    margin-left:-3px;
    background-image:url("../img/designV2/rope_left.png");
    background-repeat:no-repeat;
}

.rope::after {
    content: '';
    float:right;
    width:8px;
    height:15px;
    margin-right:-3px;
    background-image:url("../img/designV2/rope_right.png");
    background-repeat:no-repeat;
}

header{
  background-image:url("../img/designV2/header.png");
  /* background-attachment:fixed; */
  background-repeat:no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-position:bottom;

   /* background-color:green; */

   height:300px;
   margin:0 -20px;
   padding:0px;
}

#logo
{
    width:210px;
    height:105px;
    margin: auto;
    margin-top:150px;
    /*background: #fdda9e; */
    background-image:url("../img/designV2/pannel.png");
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat:no-repeat;
    padding-top:40px;
    font-size: 15px;
    color:#5e380c;
    text-align: center
}

#logo h1{
  margin: 0px;
  margin-bottom:5px;
  font-size: 22px;
}


#menu{
    padding:0px;
}

li{
  list-style:none;
}

#menu > li > ul {
  padding:10px;
}

#menu > li{
  color:white;

}

#menu > li > ul > li{
  padding-top:20px;
  padding-bottom:20px;
}
.pannel, .pannel a {
    color:#5e380c;
	text-align:center;
}

.pannel {
    width:210px;
    height:94px;
    /*background: #fdda9e; */
    background-image:url("../img/designV2/pannel.png");
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat:no-repeat;
    padding-top:50px;
    font-size: 0.8em;
}
#menu > li > ul > li:hover{
  color:#ffcf72;
  background-color : rgba(255, 154, 0, 0.3);
}

#menu > li > ul > li.active{
  color:#ffb21d;
  background-color : rgba(255, 154, 0, 0.2);
}


li .shop{
	margin-top:15%;
}



.shopClosed{
}

.shopOpened{
}


.productAvailable{
  color: green;
}


.productNotAvailable{
  color: red;
}


.valid{
 color: green;
}

.notSet{
 color: orange;
}

.invalid{
  color: red;
}


#salesAdd input{

}

.subtotal{
    color: gray;
}

.totalShop{
    color: black;
}

.notLostProducts{
 color : #00DCFF;
}
.total, .red, .lostProducts{
    font-weight:bold;
    color: #FFD63F;
}

.slate{
  background-image:url("../img/designV2/slate.jpg");
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 5%;
  vertical-align:middle;
  /*max-width: 80%;*/
}

.slate a{
 color:white;
 text-decoration:none;
}

.slate a:hover{
 color:yellow;
}

#slateSample{
  /*width:50%;
  height:20%;*/
}

.shopPreview{
  width:100%;
  /*height:20%;  */
}

.shopPreview .title{
  position:relative;
  margin-top: 20px;
  margin-bottom: -100px;
  max-width:30%;
  padding-top:1%;
  padding-bottom:1%;
  transform: rotate(-20deg);
  text-align:center;
}


.shopPreview .photoPreview{
  /* width:200px;
  float:left;
  margin-left:5%; */
}

.shopPreview .map{
  float:right;
  margin-right:10%;
}

.clear{
 clear:both;
}



.slateShopDescription{
  text-align:center;
/*    float:right; */
   width:60%;
   margin-top:2%;
   margin-left:20%;
   min-height:100px;
}

.slateShop{
    min-height:100px;
/*     width:40%; */
    /*float:left;*/
    margin:2%;
    margin-right:5%;

    text-align:center;
}

.slateShopDescriptionView
{
   width:60%;
   margin-left:15%;
}


.slateShopView{
    position:relative;
    width:40%;
    margin-right:15%;
    margin-top: -13%;
    text-align:center;
    z-index:10;
    transform: rotate(5deg);
}

.imageShopView
{
 max-width:80%;
 margin-left: 10%;

}

.timetable td, .timetable th{
    min-width: 20%;
    text-align: center;
}

.timetable tr:hover{
  background-color : rgba(255, 155, 0, 0.7);
}

.timetable tr.today{
  background-color : rgba(255, 155, 0, 0.2);
}

.timetable td.now{
  background-color : rgba(255, 155, 0, 0.4);
}

.timetable span.dayName{
    text-align: left;
}
.timetable span.dayNumber{
    text-align: right;
}

.productPreview .slate, .productTypePreview .slate
{
 margin-top:5%;
}


.productTypePreview{
    margin-bottom: 1%;
}



#productTypesList li{
 list-style:none;
}

#productList li{
  /*float:left;*/

}

#productList li .details{
  min-width:150px;
}


.slideshow{
   vertical-align:middle;
   text-align:center;
   width: 400px;
   height: 300px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
   margin-top:2%;
   margin-bottom:2%;
}

.slideshow img{
 border-radius: 0px
}

.slideshow ul {
   height: 300px;
   width: 800px;
   padding:0; margin:0;
   list-style: none;
}

.slideshow li {
   float: left;
}

.slideshow li:hover .slide-title{
   opacity:1;
}

.slide-title{
  position:relative;
  top:-70px;
  margin-left:20%;
  color:white;
  max-width:50%;
  opacity:0.5;
}

table tr.legend th{
  background-color:gray;
  color:white;
}

#resultList table{
  border-collapse:collapse;
  border:1px black solid;
  text-align:center;
}

#resultList td, #resultList th{
  border:1px black solid;
}

#resultList th{
  min-width:10%;
}

#resultsAdd input{
   text-align:center;
}

#salesAdd li{
     padding:0; margin:0;
   list-style: none;
}

#salesAdd > table {
    border-collapse: collapse;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#salesAdd > table  td, #salesAdd > table th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#salesAdd ul{
  padding:1%;
}

.search{
     /*background-color:transparent;*/
 background-image:url("../img/icons/system-search_1.png");
  /*  padding: 0 0 0 10px;*/
  cursor: pointer;
  width:48px;
  height:48px;
  border:0;
}

.save{
    background-color:transparent;
 background-image:url("../img/icons/document-save.png");
  /*  padding: 0 0 0 10px;*/
  cursor: pointer;
  width:48px;
  height:48px;
  border:0;
}

.dateSearch{
    background-color:transparent;
 background-image:url("../img/icons/view-calendar-upcoming-days.png");
  /*  padding: 0 0 0 10px;*/
  cursor: pointer;
  width:48px;
  height:48px;
  border:0;
}

.spreadsheet{
  background-color:transparent;
  background-image:url("../img/icons/application-vnd.oasis.opendocument.spreadsheet-template.png");
  cursor: pointer;
  width:48px;
  height:48px;
  border:0;
}

#statValues tr:hover{
  background-color:grey;
}
#statValues{
  border-collapse:collapse;
  text-align:center;
}

.jqplot-axis, .jqplot-title{
  color:white;
}

.jqplot-table-legend{
	color:black;
}

.fltrow input{
  width:50%;
}

.even{
  background-color : rgba(255, 154, 0, 0.2);
}

.odd{

}

.tablePreview{
	max-height:300px;
	overflow-x : hidden;
	display: block;
}


.customerHidden{
    color: gray;
}

img.rounded{
  border-radius: 15px;
}


.cursorHand{
	cursor:pointer;
}

#productTypesList .productTypeContent{
	cursor:pointer;
}
#productTypesList .productTypePreview:hover{
	background-color : rgba(255, 154, 0, 0.2);
}


#newsList {
	text-align:center;
}


.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-toolti{
	background : none;
	background-color: white;
}

#footer .credits{
	list-style:none;
}

 .listTable  td, .listTable  th{
	border:1px solid black;
}

.listTable{
  border-collapse:collapse;
  border:1px black solid;
  text-align:center;
}

.cake-error a {
	color:#428BCA;
}

input, select, textarea{
	color:black;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th
{
	background-color : rgba(255, 154, 0, 0.2);
}

.table-striped > tbody > tr:hover
{
	background-color : rgba(255, 154, 0, 0.6);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
 padding:0px;
 padding-top: 8px;
 padding-bottom: 8px;
}

.table > tbody {
 height:100%;
 overflow:auto;
}

.table tbody, .table thead
{
    display: block;
}

legend {
	color:gray;
}

.ui-datepicker-calendar th {
 color:black;
}


td.actions img.icon {
  height:16px;
  width:16;
}

#resultShops li{
	border: 2px solid;
}


.chartDiv
{
 min-width:500px;
 min-height:400px;
 text-align:center;
 vertical-align:middle;
}


.introjs-tooltip
{
	color: black;
}

.introjs-tooltip a
{
	color: blue;
}

.introjs-helperNumberLayer
{
  height:2.2em;
  width:2.2em;
}

.introjs-helperLayer
{
 background-color: rgba(255, 255, 255, 0.3);
}

.orderTotal{
    color: yellow;
    font-size:2em;
}

.approxColumn{
 color:gray;
}

.cols_checklist_item{
   color:black;
}

.alert-info a{
  color:blue;
}

.alert-danger a{
  color:red;
}

.negative:not(.alert), .negative:not(.alert) input{
 background-color:rgba(255, 0, 0, 0.4);
}

.positive:not(.alert), .positive:not(.alert) input{
 background-color:rgba(0, 255, 0, 0.4);
}

.checked:not(.alert), .checked:not(.alert) input{
 color:#E6FF00;
 font-weight:bold;
}

button{
 color:black;
}

#gotoTop, #gotoBottom {
  width:40%;
  padding:0px;
  position: fixed;
  display:none;
  left: 0;
  z-index: 999;
  text-align:center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top:0px;
  margin-bottom:0px;
  cursor:pointer;
  background-color:#33CCFF;
}

#gotoTop {
  top: 0;
}

#gotoBottom {
  bottom: 0;
}

