@CHARSET "UTF-8";
body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background: #fdda9e; 
  color : white;
  /* background-color:red; */
  font-family: sans-serif;
}

a{
  color : yellow;  
  text-decoration:none;
}


a:hover{
	color:yellow;
}

a:visited{
  color : orange;  
}





#container{
  /*position:absolute;*/
  top:0px;
  margin-left:10%;
   width:80%;  
  /*margin-right:25%;*/
  /*background-image:url("../img/design/background.png");*/
  /* background-color:red; */
  /*height:100%;*/
  /* background-attachment:fixed; */
  /*background-repeat:no-repeat;*/
    /* background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain; */
    background-color: #5e380c;
    
    
    
      background-image:url("../img/designV2/wood.jpg");
  /* background-attachment:fixed; */
  background-repeat:y-repeat;
  /*background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}

#contentBox{
  -moz-box-shadow: inset -5px -5px 0 1px #dec08a;
  -webkit-box-shadow: inset -5px -5px 0 1px #dec08a;
  box-shadow: inset -5px -5px 0 1px #dec08a;
}

#contentBox{
  width:100%;
  margin-left:1%;
}

#header{
   background-image:url("../img/designV2/header.png");
  /* background-attachment:fixed; */
  background-repeat:no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  background-position:bottom; 
  
   /* background-color:green; */

   height:400px; 
   margin:0px;
   padding:0px;
   width: 100%;
}

#header h1{
  
  margin:0px;
  padding:0px;  
}

#contentHeader{
  margin:0px;
  padding:0px;
  width: 100%;
  margin-top: -70px;
  margin-left: 300px;
}

#contentHeader h2{
  margin:0px;
  padding:0px;
  
}

#content{

  
  /* background-image:url("../img/design/fondBackground.png");
  background-repeat:repeat-y; */
  float:left;
  width:80%;
  max-width:80%;
  
  padding-left:1%;
  /* height:751px; */
  
  overflow:auto;
  overflow-x:hidden;
}

#menu{
  float:right;
}

#mainPannel
{
    position:absolute;
  top:210px;
  margin-left:70%;
}

.pannel {
    width:210px;
    height:94px;
    /*background: #fdda9e; */
    background-image:url("../img/designV2/pannel.png");
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat:no-repeat; 
    padding-top:50px;
    padding-left:10px;
    font-size: 0.8em;
    color:#5e380c;
}

.pannel h2{
  margin: 0px;
  margin-bottom:10px;
}

.shopClosed{
  color: red;
}

.shopOpened{
  color: green;
}


.productAvailable{
  color: green;
}


.productNotAvailable{
  color: red;
}


.valid{
 color: green; 
}

.notSet{
 color: orange; 
}

.invalid{
  color: red;
}


#salesAdd input{
  
}

.subtotal{
    color: gray;
}

.totalShop{
    color: black;
}

.notLostProducts{
 color : #00DCFF;
}
.total, .red, .lostProducts{
    font-weight:bold;
    color: #FFD63F;
}

.slate{
  background-image:url("../img/designV2/slate.jpg");
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  vertical-align:middle;
  max-width: 80%;
}

.slate a{
 color:white;
 text-decoration:none;
}

.slate a:hover{
 color:yellow;
}

#slateSample{
  /*width:50%;
  height:20%;*/
}

.shopPreview{
  width:100%;
  /*height:20%;  */
}

.shopPreview .title{
  position:relative;
  margin-top: 20px;
  margin-bottom: -100px;
  max-width:20%;
  transform: rotate(-10deg);
  text-align:center;
}


.shopPreview .photoPreview{
  width:200px;
  float:left;
  margin-left:5%;
}

.shopPreview .map{
  float:right;
  margin-right:10%;
}

.clear{
 clear:both; 
}



.slateShopDescription{
  text-align:center;
/*    float:right; */
   width:60%;
   margin-top:2%;
   margin-left:20%;
   min-height:100px;
}

.slateShop{
    min-height:100px;
/*     width:40%; */
    /*float:left;*/
    margin:2%;
    margin-right:5%;
    
    text-align:center;
}

.slateShopDescriptionView
{
   width:60%;
   margin-left:15%;
}


.slateShopView{
    position:relative;
    width:40%;
    margin-right:15%;
    margin-top: -13%;
    text-align:center;
    z-index:10;
    transform: rotate(5deg);
}

.imageShopView
{
 max-width:80%; 
 margin-left: 10%;

}

#menu
{
    padding:0px;
}

li{
  list-style:none;
}

#menu > li > ul {
  padding:10px;
}

#menu > li{
  color:white;
  
}

#menu > li > ul > li:hover{
  color:#ffcf72;
  background-color : rgba(255, 154, 0, 0.2);	
}

#menu > li > ul > li.active a{
  color:#ffb21d;
}

.timetable td{
    min-width: 20%;
    text-align: center;
}

.timetable span.dayName{
    text-align: left;
}
.timetable span.dayNumber{
    text-align: right;
}

.productPreview .photoPreview
{
  float:left;
}
.productPreview .details{
    float:right;
    width:50%;
    min-height:132px;
    margin:2%;
}

.productTypePreview{
    margin-bottom: 1%;
}

.productTypePreview .photoPreview{
  float:right;
}

.productTypePreview .description{
   float: left;
   width:50%;
   min-height:132px;
}

#productTypesList li{
 list-style:none;   
}

#productList li{
  /*float:left;*/
  
}

#productList li .details{
  min-width:150px;
}


.slideshow{
   vertical-align:middle;
   text-align:center;
   width: 400px;  
   height: 300px;  
   overflow: hidden;  
   border: 3px solid #F2F2F2;
   margin-top:2%;
   margin-bottom:2%;
}

.slideshow img{
 border-radius: 0px 
}

.slideshow ul {  
   height: 300px;  
   width: 800px;
   padding:0; margin:0;  
   list-style: none;  
}  

.slideshow li {  
   float: left;  
}  

.slideshow li:hover .slide-title{  
   opacity:1;
}  

.slide-title{  
  position:relative;
  top:-70px;
  margin-left:20%;
  color:white;
  max-width:50%;
  opacity:0.5;
}  

table tr.legend th{
  background-color:gray;
  color:white;
}

#resultList table{
  border-collapse:collapse;
  border:1px black solid;
  text-align:center;
}

#resultList td, #resultList th{
  border:1px black solid;
}

#resultList th{
  min-width:10%;
}

#resultsAdd input{
   text-align:center;
}

#salesAdd li{
     padding:0; margin:0;  
   list-style: none;  
}

#salesAdd > table {
    border-collapse: collapse;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#salesAdd > table  td, #salesAdd > table th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#salesAdd ul{
  padding:1%;
}

.save{
 background-image:url("../img/icons/document-save.png"); 
  /*  padding: 0 0 0 10px;*/
  cursor: pointer;
  width:48px;
  height:48px;
  border:0;
}

.dateSearch{
 background-image:url("../img/icons/view-calendar-upcoming-days.png"); 
  /*  padding: 0 0 0 10px;*/
  cursor: pointer;
  width:48px;
  height:48px;
  border:0;  
}

.spreadsheet{
  background-image:url("../img/icons/application-vnd.oasis.opendocument.spreadsheet-template.png"); 
  cursor: pointer;
  width:48px;
  height:48px;
  border:0;  
}

#statValues tr:hover{
  background-color:grey;
}
#statValues{
  border-collapse:collapse;
  text-align:center;
}

.jqplot-axis, .jqplot-title{
  color:white;
}

.jqplot-table-legend{
	color:black;
}

.fltrow input{
  width:50%;
}

.even{
  background-color : rgba(255, 154, 0, 0.2);
}

.odd{

}

.tablePreview{
	max-height:300px;
	overflow-x : hidden;
	display: block;
}


.customerHidden{
    color: gray;
}

img{
  border-radius: 15px;
}


.cursorHand{
	cursor:pointer;
}

#productTypesList .productTypeContent{
	cursor:pointer;
}
#productTypesList .productTypePreview:hover{
	background-color : rgba(255, 154, 0, 0.2);	
}

#shopPreviewList .slateShopDescription{
	cursor:pointer;
}